.header {
	text-align: center;
	width: 100%;
}

.description {
	width: 100%;
	text-align: center;
	color: #5a5a5a;

	a {
		color: #000000;
	}
}

.actions {
	display: flex;
	justify-content: center;
	width: 100%;
}