:root {
	--p-avatar-xl-width: 6rem !important;
	--p-avatar-xl-font-size: 4rem !important;
}

.p-avatar {
	border: none !important;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
	background: light-dark(var(--p-surface-0), var(--p-surface-900)) !important;
	border-radius: 50% !important;
	padding: 0.25rem !important;
}
