:root {
	--p-avatar-xl-width: 6rem !important;
	--p-avatar-xl-font-size: 4rem !important;
}

.p-avatar {
	background: light-dark(var(--p-surface-100), var(--p-surface-800)) !important;
	border-radius: 50% !important;
}
