<section class="about">
	<div class="profile">
		<p-avatar
			size="xlarge"
			shape="circle"
			[icon]="aboutInfo()?.profilePicUrl ? undefined : 'pi pi-user'"
			[image]="aboutInfo()?.profilePicUrl"
		/>

		<div class="info">
			<span class="name">Mario Di Modica</span>

			<div class="kpis">
				@if (isAboutInfoLoading()) {
					<p-skeleton />
					<p-skeleton />
					<p-skeleton />
				} @else {
					@for (kpi of kpis(); track $index) {
						<portfolio-kpi
							[label]="kpi.label"
							[value]="kpi.value"
						/>
					}
				}
			</div>
		</div>
	</div>

	<span class="description">
		<b>Front-End Software Engineer</b>
		with deep expertise in Angular, RxJS and Signals, crafting scalable and performant web
		applications. Also exploring React and modern UI technologies.
	</span>

	<portfolio-avatar-list
		[avatars]="techStack()"
		[isLoading]="isAboutInfoLoading()"
		[isEditable]="isAdmin()"
		(edit)="onTechStackEdit()"
		description="Tech Stack"
		emptyDescription="At this moment I have no tech stack"
	/>

	<portfolio-avatar-list
		[avatars]="companies()"
		[isLoading]="isAboutInfoLoading()"
		description="Companies where I worked"
		[isCollapsed]="true"
		emptyDescription="Please hire me"
	/>

	<div class="flex-items-center">
		<p-button
			label="View CV"
			[fluid]="true"
			[size]="isMobile() ? 'small' : 'large'"
			(onClick)="viewCV()"
			icon="pi pi-external-link"
		/>

		<p-button
			label="Contact me"
			[fluid]="true"
			[size]="isMobile() ? 'small' : 'large'"
			[outlined]="true"
			(onClick)="isMailDrawerVisible = true"
		/>
	</div>
</section>

<p-drawer
	header="How to reach me"
	[(visible)]="isMailDrawerVisible"
	position="right"
>
	<div class="contacts-drawer">
		<div>
			<p>
				This is my email address:
				<small>mariodimodica.01&#64;gmail.com</small>
			</p>

			<p class="description">
				You can either copy it or open your default mail app and send me an email!
			</p>

			<div class="flex-items-center">
				<p-button
					label="Send"
					icon="pi pi-envelope"
					[fluid]="true"
					[size]="isMobile() ? 'small' : 'large'"
					(onClick)="sendEmail()"
				/>

				<p-button
					label="Copy"
					icon="pi pi-copy"
					[fluid]="true"
					[outlined]="true"
					[size]="isMobile() ? 'small' : 'large'"
					(onClick)="copyEmail()"
				/>
			</div>
		</div>

		<div class="socials">
			<a
				href="https://www.instagram.com/not_mxo/"
				target="_blank"
				rel="noopener noreferrer"
				class="p-button p-button-text"
			>
				<i class="pi pi-instagram"></i>
			</a>

			<a
				href="https://www.linkedin.com/in/mariodimodica/"
				target="_blank"
				rel="noopener noreferrer"
				class="p-button p-button-text"
			>
				<i class="pi pi-linkedin"></i>
			</a>

			<a
				href="https://github.com/Mxo01"
				target="_blank"
				rel="noopener noreferrer"
				class="p-button p-button-text"
			>
				<i class="pi pi-github"></i>
			</a>
		</div>
	</div>
</p-drawer>

@if (isMobile()) {
	<p-drawer
		[closable]="false"
		[closeOnEscape]="false"
		[visible]="isEditTechStackVisible"
		(onHide)="onTechStackEditHide()"
		position="bottom"
		[style]="{ height: 'auto' }"
	>
		<ng-template #header>
			<div class="header-with-action-btn">
				<span>Edit Tech Stack</span>

				<p-button
					label="Add"
					size="small"
					icon="pi pi-plus"
					(onClick)="addTech()"
				/>
			</div>
		</ng-template>

		<portfolio-reorderable-logos
			[logos]="editableTechStack()"
			[isMobile]="isMobile()"
			(logosUpdate)="onTechStackListUpdate($event)"
		/>

		<ng-template #footer>
			<div class="flex-items-center">
				<p-button
					[fluid]="true"
					label="Cancel"
					size="small"
					variant="outlined"
					(onClick)="closeEditTechStack()"
				/>

				<p-button
					[fluid]="true"
					label="Save Edits"
					size="small"
					[loading]="isSaveTechStackEditsLoading"
					(onClick)="saveTechStackEdits()"
				/>
			</div>
		</ng-template>
	</p-drawer>
} @else {
	<p-dialog
		[modal]="true"
		[closable]="false"
		[closeOnEscape]="false"
		[(visible)]="isEditTechStackVisible"
		(onHide)="onTechStackEditHide()"
		[style]="{ width: '35rem' }"
	>
		<ng-template #header>
			<div class="header-with-action-btn">
				<span>Edit Tech Stack</span>

				<p-button
					label="Add"
					size="small"
					icon="pi pi-plus"
					(onClick)="addTech()"
				/>
			</div>
		</ng-template>

		<portfolio-reorderable-logos
			[logos]="editableTechStack()"
			[isMobile]="isMobile()"
			(logosUpdate)="onTechStackListUpdate($event)"
		/>

		<ng-template #footer>
			<div class="flex-items-center">
				<p-button
					[fluid]="true"
					label="Cancel"
					size="small"
					variant="outlined"
					(onClick)="closeEditTechStack()"
				/>

				<p-button
					[fluid]="true"
					label="Save Edits"
					size="small"
					[loading]="isSaveTechStackEditsLoading"
					(onClick)="saveTechStackEdits()"
				/>
			</div>
		</ng-template>
	</p-dialog>
}
