@use "utils/variables" as *;

section.about {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	.profile {
		display: flex;
		align-items: center;
		gap: 1rem;

		.info {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.name {
				font-size: 1.25rem;
				font-weight: 700;

				@media (min-width: $mobile-breakpoint) {
					font-size: 2rem;
				}
			}

			.kpis {
				display: flex;
				align-items: center;
				gap: 1rem;
			}
		}

		@media (min-width: $mobile-breakpoint) {
			gap: 2rem;
		}
	}

	.description {
		font-size: 0.85rem;

		@media (min-width: $mobile-breakpoint) {
			font-size: 1rem;
		}
	}

	@media (max-width: $mobile-breakpoint) {
		gap: 1rem;
	}
}

.contacts-drawer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	div {
		p {
			&.description {
				font-size: 0.85rem;
			}

			small {
				opacity: 0.7;
			}
		}
	}

	.socials {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;

		a {
			text-decoration: none !important;

			i {
				font-size: 1.5rem !important;
			}
		}
	}
}
