@use "utils/variables" as *;

:host {
	display: block;
}

.milestone-date {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1rem;
	margin: 0.5rem 0;

	@media (max-width: $mobile-breakpoint) {
		font-size: 0.875rem;
		margin: 0.25rem 0;
	}
}

.milestone-container {
	display: flex;
	gap: 1rem;

	.timeline {
		border-left: 3px solid light-dark(var(--p-surface-800), var(--p-surface-0));
		margin-left: 6px;
		border-radius: 2rem;
	}

	.milestone-card {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 0.5rem;

		.milestone {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			padding: 1rem;
			border-radius: 0.5rem;
			width: 100%;
			background-color: light-dark(var(--p-surface-100), var(--p-surface-800));
			margin: 0.5rem 0;

			.title {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				font-size: 1.5rem;
				font-weight: 600;
			}

			.description {
				font-size: 1rem;
				opacity: 0.8;
			}

			.location-period {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				margin: 0.5rem 0;

				.location,
				.period {
					display: flex;
					align-items: center;
					gap: 0.5rem;
					font-size: 0.75rem;
					opacity: 0.8;
				}
			}

			.tags {
				display: flex;
				flex-wrap: wrap;
				gap: 0.5rem;
			}

			.media,
			.contributors {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				span {
					font-size: 0.75rem;
					font-weight: 700;
				}
			}

			.media {
				.image {
					width: 250px;
					height: 150px;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					border-radius: 0.5rem;
					overflow: hidden;

					p-button,
					.p-button {
						display: flex;
						height: 100% !important;

						--p-button-border-radius: 0.5rem;
						--p-button-primary-background: #000000a7;
						--p-button-primary-border-color: transparent;
						--p-button-primary-hover-background: #1c1c1c88;
						--p-button-primary-hover-border-color: transparent;
						--p-button-primary-focus-background: #1e1e1e83;
						--p-button-primary-focus-border-color: transparent;
						--p-button-primary-active-background: #4e4e4e8f;
						--p-button-primary-active-border-color: transparent;

						span {
							display: flex;
							align-items: center;
							gap: 0.5rem;
							font-size: 1rem;
							color: #ffffff !important;

							i {
								font-size: 1.5rem;
							}

							@media (max-width: $mobile-breakpoint) {
								font-size: 0.875rem;

								i {
									font-size: 1.25rem;
								}
							}
						}
					}
				}
			}

			.updates {
				display: flex;
				flex-direction: column;
				margin-top: 0.5rem;

				.milestone-update {
					display: flex;
					flex-direction: column;

					.title {
						display: flex;
						align-items: center;
						font-size: 1rem;
						font-weight: 400;

						.circle {
							width: 0.5rem;
							height: 0.5rem;
							border-radius: 50%;
							border: 3px solid light-dark(var(--p-surface-800), var(--p-surface-0));
							margin-right: 0.5rem;
						}
					}

					.duration {
						font-size: 0.75rem;
						opacity: 0.5;
						padding-left: 1.25rem;
						margin-left: 0.2rem;

						&.has-border {
							border-left: 2px solid
								light-dark(var(--p-surface-800), var(--p-surface-0));
							padding-bottom: 1rem;
							padding-left: 1.15rem;
						}
					}
				}
			}

			@media (max-width: $mobile-breakpoint) {
				margin: 0.25rem 0;

				.title {
					font-size: 1rem;
				}

				.description {
					font-size: 0.75rem;
				}

				.location-period {
					margin: 0.25rem 0;
				}

				.tags {
					gap: 0.25rem;
				}

				.updates {
					.milestone-update {
						.title {
							font-size: 0.75rem;

							.circle {
								border: 2px solid
									light-dark(var(--p-surface-800), var(--p-surface-0));
							}
						}

						.duration {
							font-size: 0.625rem;
						}
					}
				}
			}
		}

		.milestone-admin-actions {
			display: flex;
			align-items: center;
			width: 100%;
			gap: 0.5rem;
		}
	}
}

.edit-actions {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 0.5rem;
}

.edit-milestone-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-top: 1rem;
	max-height: 70vh;
	overflow-y: auto;

	.updates-title,
	.contributors-title,
	.media-title {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.logo-upload-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.milestone-logo-upload {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}
	}

	.milestone-update {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	p-floatlabel {
		width: 100%;

		input,
		p-select,
		p-autocomplete {
			width: 100%;
		}
	}
}

.media-container,
.contributors-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.contributor,
	.media {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		flex: 0;
	}

	p-floatlabel {
		width: 100%;

		input,
		p-select,
		p-autocomplete {
			width: 100%;
		}
	}
}
