<span class="milestone-date">
	<span class="pi pi-calendar"></span>

	{{ milestone().milestoneDate }}
</span>

<div class="milestone-container">
	<div class="timeline"></div>

	<div class="milestone">
		<span class="title">
			@if (milestone().logo; as logo) {
				<p-avatar
					shape="circle"
					[image]="'images/' + logo.picName + '.' + logo.extension"
				/>
			}

			{{ milestone().title }}
		</span>

		<span class="description">{{ milestone().description }}</span>

		<div class="location-period">
			@if (milestone().location; as location) {
				<span class="location">
					<span class="pi pi-map-marker"></span>

					<span>{{ location }}</span>
				</span>
			}

			<span class="period">
				<span class="pi pi-calendar"></span>

				<span>{{ milestone().period }}</span>
			</span>
		</div>

		<div class="tags">
			@for (tag of milestone().tags; track $index) {
				<p-tag
					[value]="tag"
					severity="contrast"
				/>
			}
		</div>

		@if (milestone().media; as media) {
			<div class="media">
				<span>Media</span>

				<div
					class="image"
					[ngStyle]="{
						'background-image':
							'url(images/' + media[0].picName + '.' + media[0].extension + ')'
					}"
				>
					@if (media.length > 1) {
						<p-button
							[fluid]="true"
							(onClick)="isGalleriaVisible = true"
						>
							<span>
								+{{ media.length - 1 }}
								<i class="pi pi-images"></i>
							</span>
						</p-button>
					}
				</div>
			</div>
		}

		@if (milestone().updates; as updates) {
			<div class="updates">
				@for (update of updates; track $index) {
					<div class="milestone-update">
						<span class="title">
							<div class="circle"></div>

							{{ update.title }}
						</span>

						<span
							class="duration"
							[ngClass]="{ 'has-border': !$last }"
						>
							{{ update.duration }}
						</span>
					</div>
				}
			</div>
		}

		@if (milestone().contributors; as contributors) {
			<div class="contributors">
				<span>Contributors</span>

				<portfolio-avatar-list
					[avatars]="contributors"
					[isCollapsed]="true"
				/>
			</div>
		}
	</div>
</div>

<p-galleria
	[value]="galleriaImages()"
	[(visible)]="isGalleriaVisible"
	[activeIndex]="0"
	[responsiveOptions]="responsiveOptions"
	[containerStyle]="{ 'max-width': '850px', 'max-height': '500px', 'object-fit': 'contain' }"
	[numVisible]="7"
	[circular]="true"
	[fullScreen]="true"
	[showItemNavigators]="true"
	[showThumbnails]="false"
>
	<ng-template
		pTemplate="item"
		let-item
	>
		<img
			[src]="item.itemImageSrc"
			[alt]="item.altText || 'Image'"
			style="width: 100%; display: block"
		/>
	</ng-template>
</p-galleria>
