<section
	class="tab-content"
	[animate.enter]="'enter-slide-' + tabAnimationDirection()"
	[animate.leave]="'leave-slide-' + tabAnimationDirection()"
>
	@if (isLoading()) {
		<div class="loading-state">
			<p-skeleton height="12rem" />
			<p-skeleton height="12rem" />
			<p-skeleton height="12rem" />
		</div>
	} @else {
		@for (milestone of milestones(); track $index) {
			<portfolio-milestone [milestone]="milestone" />
		} @empty {
			<portfolio-empty-list
				[title]="emptyTitle()"
				[description]="emptyDescription()"
			/>
		}
	}
</section>
