<div class="avatar-list">
	@if (description(); as description) {
		<span class="description">
			{{ description }}
		</span>
	}

	<p-avatar-group>
		@if (isCollapsed()) {
			@for (avatar of collapsedAvatars(); track $index) {
				<p-avatar
					shape="circle"
					[image]="'images/' + avatar.picName + '.' + avatar.extension"
					[size]="isMobile() ? 'normal' : 'large'"
					[pTooltip]="avatar.name"
					tooltipPosition="bottom"
				/>
			}

			@if (remainingAvatars() > 0) {
				<p-avatar
					[label]="'+' + remainingAvatars()"
					shape="circle"
					[size]="isMobile() ? 'normal' : 'large'"
				/>
			}
		} @else {
			@for (avatar of avatars(); track $index) {
				<p-avatar
					shape="circle"
					[image]="'images/' + avatar.picName + '.' + avatar.extension"
					[size]="isMobile() ? 'normal' : 'large'"
					[pTooltip]="avatar.name"
					tooltipPosition="bottom"
				/>
			}
		}
	</p-avatar-group>
</div>
