@use "utils/variables" as *;

.avatar-list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.description {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 0.85rem;
		font-weight: 700;

		@media (min-width: $mobile-breakpoint) {
			font-size: 1rem;
		}
	}

	@media (min-width: $mobile-breakpoint) {
		gap: 1rem;
	}
}
