:host {
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.empty-list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;

	&.with-title {
		padding: 1rem;
	}

	&.left-aligned {
		align-items: flex-start;
	}

	&.center-aligned {
		align-items: center;
	}

	&.right-aligned {
		align-items: flex-end;
	}

	.title {
		display: flex;
		align-items: center;
		gap: 1rem;

		i,
		span {
			font-weight: 700;
		}
	}

	.description {
		opacity: 0.5;
		text-align: center;
		max-width: 400px;
		font-size: 0.85rem;
	}
}
