@use "utils/variables" as *;

@media (min-width: $mobile-breakpoint) {
	:host {
		display: flex;
		justify-content: center;
	}
}

main {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 1rem 1rem 0 1rem;
	gap: 1rem;

	section.about {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		.profile {
			display: flex;
			align-items: center;
			gap: 1rem;

			.info {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				.name {
					font-size: 1.25rem;
					font-weight: 700;

					@media (min-width: $mobile-breakpoint) {
						font-size: 2rem;
					}
				}

				.kpis {
					display: flex;
					align-items: center;
					gap: 1rem;
				}
			}

			@media (min-width: $mobile-breakpoint) {
				gap: 2rem;
			}
		}

		.description {
			font-size: 0.85rem;

			@media (min-width: $mobile-breakpoint) {
				font-size: 1rem;
			}
		}

		@media (max-width: $mobile-breakpoint) {
			gap: 1rem;
		}
	}

	section.tabs {
		.outlet-wrapper {
			position: relative;
			overflow: hidden;
			min-height: 100svh;
		}
	}

	@media (min-width: $mobile-breakpoint) {
		max-width: $mobile-breakpoint;
		width: 100%;
	}
}

.actions {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.contacts-drawer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	div {
		p {
			&.description {
				font-size: 0.85rem;
			}

			small {
				opacity: 0.7;
			}
		}
	}

	.socials {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;

		a {
			text-decoration: none !important;

			i {
				font-size: 1.5rem !important;
			}
		}
	}
}

.edit-actions {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 0.5rem;
}

.edit-milestone-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-top: 1rem;
	max-height: 70vh;
	overflow-y: auto;

	.updates-title,
	.contributors-title {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.logo-upload-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.milestone-logo-upload {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}
	}

	.milestone-update {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	p-floatlabel {
		width: 100%;

		input,
		p-select,
		p-autocomplete {
			width: 100%;
		}
	}
}

.tech-stack-edit-container {
	max-height: 70vh;
	overflow-y: auto;
}

.tech-stack-edit-container,
.contributors-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.technology,
	.contributor {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		flex: 0;
	}

	p-floatlabel {
		width: 100%;

		input,
		p-select,
		p-autocomplete {
			width: 100%;
		}
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	span {
		font-size: 1.5rem;
		font-weight: bold;
	}
}
