@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");

html,
body {
	height: 100svh;
	width: 100vw;
}

* {
	font-family: "Poppins", sans-serif !important;
	overscroll-behavior: none;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

.section {
	width: 100vw;
	height: calc(100svh - 60px);
	transform: translateY(60px);
}

.path-dark {
	background-color: #525252;
}

.path-light {
	background-color: #bfbfbf;
}

.badge {
	font-size: 10px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.badge-sm {
	font-size: 8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.project-desc {
	font-size: 14px;
	font-weight: 300;
}

.job-role-sm {
	font-size: 12px;
	font-weight: 300;
}
